@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

.page {
    height: 100vh;
    display: grid;
    grid-template-rows: calc(3rem + 3vw) calc(3rem + 3vw) 1fr calc(2rem + 0.5vw);
    gap: 0.5rem;
}

header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}
header h1 {
    font-size: calc(1rem + 3vw);
    flex-grow: 1;
    text-align: center;
    font-family: "Kanit";
    color: #EAEAEA;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside button {
    width: calc(8rem + 4vh);
    height: calc(1rem + 4vh);
    font-size: calc(0.7rem + 1vw);
    font-family:"Kanit";
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background-color:#2b2b2b;
    color: #eeeeee;
    text-align: center;
}

aside button:hover {
    cursor: pointer;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
    box-shadow: 5px 5px 5px black;
    background-color: #eeeeee;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;
    padding: 1rem;
    background-color: #d1d0d0;
}


.book-card h1 {
    font-family: "Kanit";
    max-width: 100%;
    color: #2b2b2b;
    font-size: calc(1rem + 1vw);
}
.book-card h2  {
    margin: 0.5rem 0;
    font-size: calc(1rem + 0.5vw);
    color: #3c3c3c;
}

.book-card p {
    margin-bottom: 0.5rem;
    font-size: calc(1rem + 0.3vw);
}

.read-btn {
    width: clamp(5rem, 5vw, 8rem);
    height: clamp(1.5rem, 3vh, 5rem);
    font-size: calc(0.8rem);
    border-radius: 3px;
    border: none;
    color: #EAEAEA;
    font-family: "Kanit";
}

.read-btn:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Pacifico";
    font-size: calc(0.5rem + 0.5vw);
    color: #eeeeee;
    background-color: #2b2b2b;
}

form {
    display: none;
    flex-direction: column;
    gap: 1rem;
    border: none;
    padding: 2rem;
    width: calc(10rem + 30vw);
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #2b2b2b;
    border-radius: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

legend {
    font-family: "Fjalla One";
    color: #eeeeee;
    font-size: calc(1rem + 1vw);
}

label {
    font-size: calc(1rem + 0.3vw);
    font-family: "Fjalla One";
    color: #eeeeee;
}

input {
    height: 1.5rem;
    width: 15rem;
    font-size: 1rem;
    font-family: "Kanit";
    border-radius: 4px;
    padding: 0.2rem;
    border: none;
    margin-top: 0.5rem;
}

input:focus {
    outline-color: #72A0C1;
}

.read {
    display: flex;
    flex-direction: row;
}
.read label {
    font-size: 1rem;
}
.read input {
    width: 1rem;
    margin: 0 1rem;
    accent-color: #72A0C1;
}

#submit-btn {
    width: 7rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    font-family: "Kanit";
    font-weight: bold;
    border-radius: 7px;
    color: #EAEAEA;
    background-color: #018749;
}

@media screen and (min-width: 449px) {
    form {
        position: fixed;
        width: calc(10rem + 20vw);
    }
}

@media screen and (min-width: 728px) {
    .book-card {
        max-width: 250px;
    }
}

@media screen and (min-width: 928px) {
    .book-card {
        max-width: 250px;
    }
}